@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  padding: 30px;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 18px;
  background-color: black;
}
